<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h2>Topic Table</h2>
        <table border = 3px>
            <tr>
                <th>Topic_name</th>
            </tr>
                <td align="center" >
                    
                    {% for topic in topics %}
                    
                        {{ topic.topic_name }}
                        <hr>
                    {% endfor %}
                
                </td>
        </table>
 </center>
</body>
</html>